.product-img-wrapper{
    height: 250px;
    width: 230px;
    .product-img{
        height: 100%;
        width: 100%;
    }
}

body{
    overflow: hidden;
}

.product-card-body{
    height: 175px;
    padding:16px;
    text-align: center;
    .product-card-title{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;
}
